{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'segoe UI', Tahome, geneva, verdane, sans-serif;
    background: linear-gradient(135deg, #6b73ff 10%, #000dff 100%);
    display: flex:
    justify-content: center:
    align-iterms: center;
    height: 100vh;
    color: #333;
}

.login-container, signup-container {
    background-color: #fff;
    padding; 30px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    width: 350px;
    text-align: center;
}

h2{
    margin-botom: 25px;
    font-size: 26px;
    color: #333;
    border-bottom: 2px soild #4CAF50;
    padding-bottom: 10px;
} 

.input-group {
    margin-bottom: 20px;
    text-algin: left;
}

lable{
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #4CAF50;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
    outline: none;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

button:hover {
    background-color: #43a047;
}

button-active {
    transform: scale(0.98);
}

.sigmup-link, .login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

.signup-link,.login-link {
    font-size: 14px;
    color:  #555;
}

.signup-link a, .login-link a {
    color: #4CAF50;
    text-decoration
}